* {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
}
.nav {
    margin: 25px 0;
    text-align: center;
}
.link {
    margin-right: 72px;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    text-decoration: none;
    text-transform: uppercase;
    color: #FF0000;
}
.img {
    width: 100%;
    min-height: 790px;
}
.title {
    margin: 49px 0 38px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: #373737;
    font-size: 22px;
    line-height: 27px;
}
.text {
    margin-left: 67px;
    margin-right: 67px;
    color: #373737;
    font-weight: 400;
    text-align: center;
    line-height: 27px;
    font-size: 16px;
}
.btn {
    display: block;
    margin: 66px auto 0 auto;
    width: 191px;
    height: 51px;
    background-color: #FF0000;
    border-radius: 4px;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
    text-align: center;
    cursor: pointer;
}
.right {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: left;
    color: #373737;
    margin: 82px 105px 29px 0;
    text-align: right;
}